.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.logout_button {
    min-width: 300px;
    padding: 17px 30px;
    margin-top: 10px;
    background-color: black;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}

.user_name {
    color: rgb(221, 27, 179);
}